.wrapper {
  width: 100%;
  margin: var(--indent-size) 0;
}

.description {
  width: 100%;
  margin-bottom: var(--indent-size);
  display: grid;
  grid-template-areas:
  "h2 h2 h2 h2 button"
  "text text h1 h1 h1";
}

.title {
  grid-area: h1;
  margin: 0;
  margin-left: auto;
  text-align: right;
  font-weight: 900;
  font-size: var(--font-size-title);
  line-height: 117%;
}

.sutitle {
  grid-area: h2;
  margin: 0;
  margin-right: 30px;
  font-weight: 700;
  font-size: var(--font-size-subtitle);
  line-height: 117.5%;
}

.text {
  grid-area: text;
  align-self: center;
  width: clamp(9.94rem, calc(3.87rem + 12.65vw), 15.25rem);
  margin: 0;
  font-weight: 400;
  font-size: var(--font-size-text);
  line-height: 115%;
}

.button {
  --padding-left: clamp(0.44rem, calc(-0.99rem + 3.81vw), 2.44rem);
  --padding-top: clamp(0.19rem, calc(-0.17rem + 0.95vw), 0.69rem);
  grid-area: button;
  align-self: start;
  padding: var(--padding-top) var(--padding-left);
  border: 1px solid var(--main-decoration-color);
  border-radius: 50px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: var(--font-size-text);
  line-height: 115%;
  color: var(--main-text-color);
  transition: all .3s;
}

.button:hover {
  background-color: var(--main-decoration-color);
  color: var(--secondary-text-color);
  transition: all .3s;
}

.button:focus {
  border: 1px solid var(--main-text-color);
  transition: all .3s;
}

.button:active {
  background-color: transparent;
  color: var(--main-decoration-color);
  transition: all .3s;
}

.img {
  width: 100%;
  height: 544px;
  background-color: var(--main-decoration-color);
  object-fit: cover;
}

@media screen and (max-width: 1040px) {
  .description {
    grid-template-areas:
    "h2 h2 h2 h2 button button"
    "h1 h1 h1 h1 h1 h1"
    "text text text text text text";
  }

  .sutitle {
    margin-right: 0;
  }
}


@media screen and (max-width: 600px) {
  .description {
    grid-template-areas:
    "h2 h2 h2"
    "text text text"
    "h1 h1 h1"
    "button button button";
    position: relative;
  }

  .title {
    --step: calc(-144px - (192 - 144) * ((100vw - 320px) / (600 - 320)));
    max-width: 486px;
    position: absolute;
    top: var(--step);
    right: 0;
  }

  .text {
    margin-top: 20px;
    margin-bottom: clamp(5.31rem, calc(2.10rem + 16.07vw), 8.13rem);
  }

  .img {
    height: clamp(14.81rem, calc(-7.12rem + 109.64vw), 34.00rem);
  }
}