.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: var(--indent-size) 0 0;
}

.textBox {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}

.title {
  margin: var(--indent-size) 0 0 0;
  font-weight: 700;
  font-size: var(--font-size-subtitle);
  line-height: 117.5%;
}

.text {
  margin: 0 0 var(--indent-size) 0;
  font-weight: 400;
  font-size: var(--font-size-text);
  line-height: 115%;
  text-align: center;
}

.list {
  margin: var(--indent-size) 0;
  padding: 0;
  list-style-type: none;
}

.item {
  font-weight: 400;
  font-size: var(--font-size-text);
  line-height: 120%;
  text-align: end;
  margin-bottom: 3px;
}

.galleryBox {
  width: 54%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 16.6%);
  gap: 3px;
}

.img {
  width: 100%;
  height: 100%;
  background-color: var(--main-decoration-color);
  object-fit: cover;
  object-position: center;
}

.img:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/3;
}

.img:nth-child(2) {
  grid-column: 1/2;
  grid-row: 3/5;
}

.img:nth-child(3) {
  grid-column: 1/2;
  grid-row: 5/7;
}

.img:nth-child(4) {
  grid-column: 2/3;
  grid-row: 1/2;
  object-position: bottom;
}

.img:nth-child(5) {
  grid-column: 2/3;
  grid-row: 2/4;
}

.img:nth-child(6) {
  grid-column: 2/3;
  grid-row: 4/6;
}

.img:nth-child(7) {
  grid-column: 2/3;
  grid-row: 6/7;
  object-position: top;
}

.img:nth-child(8) {
  grid-column: 3/4;
  grid-row: 1/3;
}

.img:nth-child(9) {
  grid-column: 3/4;
  grid-row: 3/5;
}

.img:nth-child(10) {
  grid-column: 3/4;
  grid-row: 5/7;
}

@media screen and (min-width: 700px) and (max-width: 950px) {
  .galleryBox {
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
  }

  .img:nth-child(8), 
  .img:nth-child(9),  
  .img:nth-child(10) {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .textBox {
    width: 67%;
    margin-right: 4px;
  }

  .galleryBox {
    width: 33%;
    grid-template-columns: 100%;
  }

  .img:nth-child(4), 
  .img:nth-child(5),  
  .img:nth-child(6), 
  .img:nth-child(7) {
    display: none;
  }
}