@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), 
    url('Roboto.woff2') format('woff2'), 
    url('Roboto.woff') format('woff'), 
    url('Roboto.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('Robotomedium.woff2') format('woff2'), 
    url('Robotomedium.woff') format('woff'), 
    url('Robotomedium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), 
    url('Robotobold.woff2') format('woff2'), 
    url('Robotobold.woff') format('woff'), 
    url('Robotobold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black'), local('Roboto-Black'), 
    url('Robotoblack.woff2') format('woff2'), 
    url('Robotoblack.woff') format('woff'), 
    url('Robotoblack.ttf') format('truetype');
}