.card {
  width: 100%;
  display: flex;
  flex-direction: column;
 }
 
 .img {
   width: 100%;
   height: 79%;
   object-fit: cover;
   object-position: center;
 }
 
 .name {
   margin: 0;
 }
 
 .div {
   margin-left: auto;
 }
 
 .price {
   margin-right: 2px;
   
 }
 