.card {
  width: 100%;
  height: clamp(15.63rem, calc(11.16rem + 22.32vw), 31.25rem);
  display: flex;
  flex-direction: column;

}
 
.img {
  width: 100%;
  height: clamp(11.56rem, calc(7.81rem + 18.75vw), 24.69rem);
  max-height: 395px;
  min-height: 185px;
  object-fit: cover;
  object-position: center;
}
 
.name {
  margin: 5px 0 0 0;
  width: 90%;
  font-weight: 500;
  font-size: var(--font-size-span);
  line-height: 115%;
}
 
.div {
  margin-top: auto;
  align-self: flex-end;
}
 
.price {
  font-weight: 700;
  font-size: var(--font-size-subtitle);
  line-height: 117.5%;
}

.metric {
  margin-left: 5px;
  font-weight: 400;
  font-size: var(--font-size-span);
  line-height: 115%;
}
 