.wrapper {
  width: var(--space-size);
  margin-top: var(--indent-size);
  position: sticky;
}

.row {
  width: 100%;
  display: flex;
  margin-bottom: var(--indent-size);
}

.link {
  font-weight: 500;
  font-size: var(--font-size-subtitle);
  line-height: 117.5%;
  text-decoration: none;
  color: var(--main-text-color);
  margin-left: auto;
  transition: all .3s;
}

.link:hover {
  transform: scale(1.02);
  transition: all .3s;
}

.burger {
  margin-left: 35%;
  align-self: center;
  position: relative;
  width: 70px;
  height: 10px;
  cursor: pointer;
}

.span {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 1px;
  background-color: var(--main-text-color);
  transition: .3s;
}

.span:nth-child(1) {
  transform: translateY(-5px);
}

.spanActive {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 1px;
  background-color: var(--main-text-color);
  transition: .3s;
}

.spanActive:nth-child(1) {
  transform: translateY(0) rotate(-45deg);
}

.span:nth-child(2) {
  transform: translateY(5px);
}

.spanActive:nth-child(2) {
  transform: translateY(0) rotate(45deg);
}

.tab {
  display: none;
}

.tabActive {
  display: block;
  width: var(--space-size);
  background-color: var(--main-background-color);
  position: fixed;
}

.tabLink {
  width: 100%;
  border-top: 1px solid var(--main-decoration-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--indent-size) 0;

}

.navLink {
  font-weight: 400;
  font-size: 10px;
  line-height: 115%;
  letter-spacing: -.05em;
  text-decoration: none;
  color: var(--main-text-color);
}

.overlay {
  display: none;
}

.overlayActive {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 17rem;
  left: 0;
}
