.wrapper {
  width: var(--space-size);
  margin-top: var(--indent-size);
  background-color: var(--main-background-color);
  position: sticky;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--indent-size);
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
}

.item {
  font-weight: 400;
  font-size: var(--font-size-span);
  line-height: 115%;
  list-style-type: none;
  transition: all .3s;
}

.item:not(:last-child) {
  margin-right: clamp(0.94rem, calc(-2.86rem + 10.12vw), 6.25rem);
}

.item:hover {
  transform: scale(1.02);
  transition: all .3s;
}

.link {
  text-decoration: none;
  color: var(--main-text-color);
}

.burger {
  display: none;
  align-self: center;
  position: relative;
  width: 50px;
  height: 10px;
  cursor: pointer;
}

.span {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 1px;
  background-color: var(--main-text-color);
  transition: .3s;
}

.span:nth-child(1) {
  transform: translateY(-5px);
}

.span:nth-child(2) {
  transform: translateY(5px);
}

.spanActive {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 1px;
  background-color: var(--main-text-color);
  transition: .3s;
}

.spanActive:nth-child(1) {
  transform: translateY(0) rotate(-45deg);
}

.spanActive:nth-child(2) {
  transform: translateY(0) rotate(45deg);
}

@media screen and (max-width: 600px) {
  .list {
    display: none;
  }

  .burger {
    display: block;
  }
}

.overlay {
  display: none;
}

.overlayActive {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
}
