.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0 var(--indent-size) 0;
}

.description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: var(--indent-size) 0;
  font-weight: 700;
  font-size: var(--font-size-subtitle);
  line-height: 117.5%;
}

.arrow {
  width: clamp(1.00rem, calc(0.93rem + 0.36vw), 1.25rem);
  height: clamp(0.88rem, calc(0.80rem + 0.36vw), 1.13rem);
  margin-left: 2px;
  background-image: url(../../images/link.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: clamp(0.56rem, calc(-0.82rem + 3.69vw), 2.50rem);
  row-gap: var(--indent-size);
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .cardList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .cardList {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 9px;
  }
}
